@using UniversidadQ10.Domain.Dtos
@model IEnumerable<SubjectDto>
<hi>Materias</hi>

<a asp-action="Create" class="btn btn-primary">Registrar Materia</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Créditos</th>
            <th>Código</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model)
        {
            <tr>
                <td>@subject.Id</td>
                <td>@subject.Name</td>
                <td>@subject.Credit</td>
                <td>@subject.Code</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@subject.Id" class="btn btn-warning">Editar</a>
                    <form asp-action="Delete" asp-route-id="@subject.Id" method="post" onsubmit="return confirm('¿Estás seguro que deseas eliminar esta materia?');">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>