@using UniversidadQ10.Domain.Dtos
@model IEnumerable<SubjectDto>
<h2 class="mb-5">Materias</h2>

<a asp-action="Create" class="btn btn-primary mb-4">Registrar Materia</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Créditos</th>
            <th>Código</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model)
        {
            <tr>
                <td>@subject.Name</td>
                <td>@subject.Credit</td>
                <td>@subject.Code</td>
                <td>
                    <div class="row">
                        <div class="col-2 m-2">
                            <a asp-action="Edit" asp-route-id="@subject.Id" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                        </div>
                        <div class="col-2 m-2">
                            <form asp-action="Delete" asp-route-id="@subject.Id" method="post" onsubmit="return confirm('¿Estás seguro que deseas eliminar esta materia?');">
                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                  
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            @if (TempData["ToastrMessage"] != null)
            {
                <text>
                    toastr["@TempData["ToastrType"]"]("@TempData["ToastrMessage"]");
                </text>
            }
        });
    </script>
}